//==========  Typography ==========//

// headings
h1, h2, h3 {
  @apply font-bold leading-tight mt-0 mb-6 text-blue-900;
}

.page-title {
  @apply text-5xl;
}

// content
.content {

  // paragraph
  p {
    @apply mb-8;
  }

  // Only apply the first-child styles to a p element that is a direct child of the .content class - this stops
  //  first-child styles from being applied to p elements inside blockquotes
  > p {
    &:first-child {
      @apply border-b-2 border-gray-200 text-2xl pb-6 mb-6 font-light leading-snug text-gray-600 text-center;
    }
  }
}

blockquote {
  @apply px-6 text-gray-600 border-l-2 border-gray-200;
}

ol {
  list-style: decimal outside;
  margin: 1.5rem;

  > li {
    margin-bottom: 0.5rem;
  }
}

.footnote-item {
  > p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

}

.footnote-backref {
  font-family: -apple-system;

  &:hover {
    @apply text-blue-400;
  }
}
