---
layout: default
meta_title: About
meta_description: About page description
body_class: about
title: About
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <p>Some mundane biographical facts that may raise more questions than they answer.</p>
            <h2 class="text-3xl">...me</h2>
            <p>I have an honours degree in economics from the University of Adelaide</p>
            <p>I work as a software developer in Medellín, Colombia, but am currently in Australia, where I was
                visiting for a wedding when my flights home were cancelled.</p>
            <p>If I had the choice (and the ability), I'd much rather spend most of my time on music and art. The
                only things that really matter in life.</p>

            <h2 class="text-3xl">...this website</h2>
            <p>This blog exists primarily as a tool for learning. Both about the things I write about, as well as the
                process of building and maintaining a blog. At the moment there's not much evidence of progress in
                either of these areas, but maybe with time that will change.</p>

        </div>

    </article>

</main>
