---
layout: default
meta_title: Home
meta_description: A simple personal website. The digital equivalent of talking to myself really.
body_class: home
title: Welcome
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">


{#        <div class="content">#}
{#            <p>Where I write about things I don't understand very well, but wish I did. Mostly software#}
{#                engineering, finance and economics.</p>#}
{#        </div>#}
        <section id="container-centre" class="column centre flex-1" aria-label="Blogs">

            <div class="posts grid grid-cols-1 gap-4">

                {% for post in collections.blog %}

                    <article class="article-card mb-8 mx-4 flex-1 bg-white overflow-hidden
                    rounded-lg shadow-lg">

                        <div class="p-8">

                            <h2 class="text-2xl mb-6">
                                <a class="hover:text-blue-400" href="{{ post.url }}">{{ post.data.title }}</a>
                            </h2>

                            <div class="text-base content">
                                <a href="{{ post.url }}"><p>{{ post.data.excerpt | safe }}</p></a>
                            </div>

                            <div class="text-sm text-gray-600 md:flex mb-4">

                                <time datetime="{{ post.date }}">
                                    {{ post.date | dateDisplay }}
                                </time>

                                {% if post.data.tags %}

                                    {# this will create a comma for multiple category links #}
                                    {% set comma = joiner() %}

                                    <p class="px-2">—</p>

                                    <p class="category">Posted in

                                        {% for item in post.data.tags %}

                                            {%- if item != "blog" -%}

                                                <a class="hover:text-blue-400" href="/category/{{ item }}">{{ comma()
                                                    }} {{ item | capitalize }}</a>

                                            {%- endif -%}

                                        {% endfor %}

                                    </p>

                                {% endif %}

                            </div>

                        </div>

                    </article>

                {% endfor %}

            </div>

        </section>

</main>


